
    .container {
        width: 960px;
    }

    body {
        font-family: 'Open Sans';
        font-weight: 400;
        color: #666;
        font-size: 12px;
        line-height: 1.4em;
    }


    h1, h2, h3, h4, h5, h6 {
        color: #333;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1em;
    }

    h1 {
        font-size: 15px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 13px;
    }

    h4 {
        font-size: 11px;
    }

    h5 {
        font-size: 10px;
    }

    h6 {
        font-size: 9px;
    }

    #middle {
        clear: both;
        z-index: 1;
    }

    /* sidebar right (default) */
    #middle .content {
        width: 960px;
        margin: 0 10px;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px dashed #cecece;
        margin-bottom: 20px;
    }

    .header-nav {
        width: 960px;
        margin: 0px auto 15px auto;
        height: auto;
    }

    .header-box {
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    .title h1 {
        font-size: 14px;
    }

    .logo {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .work-carousel-head a {
        top: -70px !important;
    }

    .tf-header-slider .flexslider .slides,
    .tf-header-slider .flexslider .slides li img {
        height: 201px;
    }

    .our-work .content {
        width: 960px;
        margin: 10px 10px 0 10px !important;
    }

    .footer-slider {
        width: 960px;
    }

    .tf-footer-carousel .flex-viewport {
        width: 130px;
    }

    .footer-content {
        width: 280px;
        margin: 0 10px;
    }

    .f_col_1 {
        width: 280px;
    }

    footer h3.widget-title {
        font: 14px 'Open Sans';
        font-weight: 700;
        text-align: center;
    }
    body {
        margin: 0px;
        padding:0px;
    }


/* ccv styles */
.boxd {
    float: left;
    width: 54px;
    height: 28px;
    padding: 0px;
    /* -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px; */
}
.box {
    float: left;
    display: block;
    margin: 2px;
    /*width: 25px;*/
    width: 200px;
    height: 25px;
    padding: 5px;
    box-sizing: border-box;
    /*-moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;*/
    color: #100F0F;
}
.box a {
    display: block;
}
.panel {
    overflow:auto;
    padding:0;
    height:290px;
    width:220px;
    background: #f2f2f2;
}
    .box-t {
        float: left;
        display: block;
        margin: 1px;
        width: 35px;
        height: 35px;
        padding: 0;
        -moz-border-radius: 15px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 2px;
        border:1px solid #BFC0BD;
    }
    .box-t a {
        display: block;
    }
    .box-t a > img {
        width: 36px;
        height: 36px;
    }
.texture-panel {
    overflow:auto;
    padding:0;
    height:280px;
    width:220px;
    background: #f2f2f2;
}
.selector {
    width: 220px;
    height: 60px;
    background: #f2f2f2;
    padding: 2px 0;
}
.selector select {
    margin: 5px auto;
}
.indicator {
    position: absolute;
    top: 30%;
    left: 45%;
    background: #f2f2f2 ;
    display: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    z-index: 12000;
    -webkit-box-shadow: 0px 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.indicator div{
    margin: 5px auto;
    padding: 15px;
    background: url(../images/loader.gif) center no-repeat;
}
.indicator span {
    line-height: 20px;
    display: block;
    padding: 0px 40px 15px 40px;
    margin: 0px auto 0px auto;
}
.clear {
    clear: both;
}
/*.app {
    width:960px; height:540px; border: 1px solid #666063;
    margin:0px auto; background: #302e2f;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
#right-pane {
    border-left:0px solid #bababa;
    width:220px;
    height:540px;
    margin:0px 0px 0px 740px;
    background: #8d947b;
}
#left-pane{
    float:left; width:740px; height:550px;
    text-align: center;
}
.colorbar-menu{
    padding: 5px;
    background: #f2f2f2;
}
#can {
    margin:0px auto;
}
#app-canvas {
    margin:0px auto;
}
.app-panel {
    display: block;
}
.sample{
    text-align: center;
}
.sample-texture {
    height: 86px;
}
.sample div#dropper-texture {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 3px auto 0 auto;
    border: 1px solid #bababa;
    background-color: #ffffff;
    height:50px;
    width: 75px;
    float:none;
}
.sample div#dropper {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 8px 19px;
    border: 1px solid #bababa;
    background-color: #ffffff;
    height:50px;
    width: 75px;
    float: left;
}
.sample div#dropper-min-dark {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 5px 20px 20px;
    border: 1px solid #bababa;
    height: 25px;
    width: 25px;
    float: left;      5
}
.sample div#dropper-min-light {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 20px 20px 5px;
    border: 1px solid #bababa;
    height: 25px;
    width: 25px;
    float: right;
}
p.sample-code {
    color: #ffffff;
    height: 20px;
    margin:0px;
    padding:0px;
    text-align: center;
}
p.sample-color, .sample-texture-color {
    color: #ffffff;
    height:20px;
    margin:0px;
    padding:0px;
}
.box {
    cursor: pointer;
}
/** jscrollpane **/
.jspVerticalBar {
    width: 12px;
}

/** override **/
.mid {
    padding-top:5px;
    padding-bottom:10px;
}

/** recent colors **/
.recent{
    height:50px;
    border-bottom: 1px solid #bababa;
    text-align:center;
}
.recent p {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}
.recent .mini-box-cont {
    margin:0px auto;
    width:160px;
}
.mini-box-0, .mini-box-1, .mini-box-2, .mini-box-3, .mini-box-4, .mini-box-5 {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    float:left;
    padding:5px;
    border: 1px solid #bababa;
    background:transparent;
    margin: 2px;
    height:15px;
    width:15px;
}
a.stage-reset{
    display: block;
    width: 120px;
    margin:2px auto;
    font-size:120%;
    background: #cecece;
    color: #000000;
    text-align: center;
    line-height: 35px;
}
a.stage-reset:hover {
    background: #444444;
    color: #ffffff;
}px 15px 40px;
    margin: 0px auto 0px auto;
}
.clear {
    clear: both;
}
.app {
    width:960px; height:540px; border: 1px solid #666063;
    margin:0px auto; background: #181818;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#right-pane {
    border-left:0px solid #bababa;
    width:220px;
    height:540px;
    margin:0px 0px 0px 740px;
    background: #8d947b;
}
#left-pane{
    float:left; width:740px; height:450px;
    text-align: center;
}
#can {
    margin:0px auto;
}
#app-canvas {
    margin:0px auto;
}
.app-panel {
    display: block;
}
.sample{
    text-align: center;
}
.sample div#dropper {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 8px 19px;
    border: 1px solid #bababa;
    background-color: #ffffff;
    height:50px;
    width: 75px;
    float: left;
}
.sample div#dropper-min-dark {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 5px 20px 20px;
    border: 1px solid #bababa;
    height: 25px;
    width: 25px;
    float: left;      5
}
.sample div#dropper-min-light {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin: 20px 20px 20px 5px;
    border: 1px solid #bababa;
    height: 25px;
    width: 25px;
    float: right;
}
p.sample-code {
    color: #ffffff;
    height: 20px;
    margin:0px;
    padding:0px;
}
p.sample-color {
    color: #ffffff;
    height:20px;
    margin:0px;
    padding:0px;
}
.box {
    cursor: pointer;
}
/** jscrollpane **/
.jspVerticalBar {
    width: 12px;
}

/** override **/
.mid {
    padding-top:5px;
    padding-bottom:10px;
}

/** recent colors **/
.recent{
    height:50px;
    border-bottom: 1px solid #bababa;
    text-align:center;
}
.recent p {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}
.recent .mini-box-cont {
    margin:0px auto;
    width:160px;
}
.mini-box-0, .mini-box-1, .mini-box-2, .mini-box-3, .mini-box-4, .mini-box-5 {
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    float:left;
    padding:5px;
    border: 1px solid #bababa;
    background:transparent;
    margin: 2px;
    height:15px;
    width:15px;
}
a.stage-reset{
    display: block;
    width: 120px;
    margin:2px auto;
    font-size:120%;
    background: #cecece;
    color: #000000;
    text-align: center;
    line-height: 35px;
}
a.stage-reset:hover {
    background: #444444;
    color: #ffffff;
}
/** introJs mods **/
.introjs-helperLayer {
    color: #444444;
}
.ccv-disclaimer {
    margin:2px auto;
    width: 735px;
    text-align: center;
    color: #FFFFFF;
}
.btn-full-width {
    width: 85%;
    margin-bottom: 5px;
}

/* autoComplete styles */
.search {
    width: 98%;
    margin: 2px;
    border: 1px solid #C1B9B9 !important;
    outline-width: thin;
}
.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
/* modal hack */
.modal {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.modal-header {
    background: url(img) top center;
}
.modal-footer {
    border-top: 1px solid #FFF;
}