@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	padding:0px;
	background-color:#FFF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}

#wrapper{
	margin:auto;
	width:900px;
	height:500px;
	max-height:1200px;
	background:url(bg.png) #CCC center top repeat;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px 0.2px ;
	box-shadow: 0px 0px 8px 0.2px ; 
	}
	
#innerbody{
	margin:auto;
	width:880px;
	height:200px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top:10px;
	}
	
#upper{
	width:100%;
	margin:auto;
	float:left;
	height:270px;
	padding-top:5px;
	}
	
#lower{
	width:100%;
	margin:auto;
	float:left;
	-webkit-border-radius: 10px;
	border-radius: 10px; 	
	}
	
#innerlower{
	width:100%;
	height:265px;
	float:left;
	padding:10px;
	}	
	
#interior1{
	width:280px;
	padding:4px;
	margin:2px;
	height:250px;
	float:left;
	}		
	
#bedroomselect{
	width:420px;
	padding:4px;
	margin:2px;
	height:250px;
	float:left;
	}			
	
#rightlower{
	width:590px;
	float:left;
	padding:10px;	
	}
	
	
#interiortxt{
	width:900px;
	height:20px;
	float:left;
	padding:20px;
	margin-top:20px;
	color:#666;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold !important;
	font-size:13px;
	}
	
	
#iconspage{
	width:800px;
	height:10px;
	float:left;
	padding:30px;
    color:#666;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px !important;
	font-weight:bold !important;
	}	
	
	
#module1{
	width:270px;
	height:270px;
	float:left;
	padding:4px;
	margin:6px;
	}
	
#module2{
	width:270px;
	height:180px;
	float:left;
	padding:4px;
	margin:6px; 	
	}
	
#module3{
	width:270px;
	height:180px;
	float:left;
	padding:4px;
	margin:6px;
	}	
	
#intro{
	width:500px;
	float:left;
	padding:4px;
	margin:6px;
	padding-top:5px;
	}
	
#lowerleft{
	width:250px;
	float:right;
	padding:4px;
	margin:6px;
	padding-top:10px;
	color:#666;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center justify !important;
	}	
	
	
#lowerright{
	width:100%;
	float:left;
	padding:4px;
	margin:6px;
	}
	
	
#menu{
	width:480px;
	height:30px;
	float:left;
	padding:4px;
	margin:6px;
	padding-top:20px;
	background:url(menubg.png) right;
	margin-top:40px;
	}
	
#topright{
	width:300px;
	height:100px;
	float:right;
	padding:4px;
	margin:6px;
	padding-top:5px;
	}		
	
#logo{
	width:300px;
	height:100px;
	float:left;
	}	
	
#login{
	width:300px;
	height:38px;
	float:left;
	margin-top:1px;
	}
		
	
#socialmedia{
	width:300px;
	height:50px;
	float:left;
	}			
	
#minilogo{
	width:480px;
	height:70px;
	float:left;
	padding:4px;
	margin:3px;
	}
	
#introtxt{
	width:98%;
	height:100px;
	float:left;
	padding:1px;
	margin:3px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}	
	
#footer{
	width:500px;
	margin:auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-style:italic;
	font-size:10px;
	text-align:center;
	padding:5px;
	}
	
#lowerright1{
	width:900px;
	padding:4px;
	height:160px;
	float:left;
	}
	
#lowerright2{
	width:900px;
	padding:4px;
	height:160px;
	float:left;
	}
	
#mod1{
	width:270px;
	padding:13px;
	height:150px;
	float:left;
	}
	
#mod2{
	width:270px;
	padding:13px;
	height:150px;
	float:left;
	}	
	
#mod3{
	width:270px;
	padding:13px;
	height:150px;
	float:left;
	}	
	
#lowerright4{
	width:185px;
	padding:4px;
	}
	
#lowerright5{
	width:185px;
	padding:4px;
	}
	
#lowerright6{
	width:185px;
	padding:4px;
	}
	
	
#upload{
	width:500px;
	margin:auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top:20px;
	}
	
	
	
.wrapper {
  width:900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  border-radius: 8px;
  background-color: #E6E6E6;
  background:url(bg.png) #CCC center top repeat;
  box-shadow: 0px 0px 15px #888888;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  *zoom: 1; }
 .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }
  .wrapper.collapse .column,
  .wrapper.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .wrapper .wrapper {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .wrapper .wrapper:before, .wrapper .wrapper:after {
      content: " ";
      display: table; }
    .wrapper .wrapper:after {
      clear: both; }
    .wrapper .wrapper.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .wrapper .wrapper.collapse:before, .wrapper .wrapper.collapse:after {
        content: " ";
        display: table; }
      .wrapper .wrapper.collapse:after {
        clear: both; }
	
	