@media only screen and (min-width: 320px) {
  .container {
    width: 300px;
  }

  body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 1.4em;
  }

  .col {
    margin: 5px 10px 5px 0;
  }

  .col_1 {
    width: 280px;
  }

  .col_1_2 {
    width: 280px;
  }

  .col_1_3 {
    width: 280px;
  }

  .col_2_3 {
    width: 280px;
  }

  .col_1_4 {
    width: 125px;
  }

  .col_1_5 {
    width: 280px;
  }

  .col_1_6 {
    width: 83px;
  }

  .col_3_4 {
    width: 280px;
  }

  .cols2 .col_1 {
    width: 290px;
  }

  .cols2 .col_1_2 {
    width: 280px;
  }

  .cols2 .col_1_3 {
    width: 280px;
  }

  .cols2 .col_2_3 {
    width: 280px;
  }

  .cols2 .col_1_4 {
    width: 125px;
  }

  .cols2 .col_3_4 {
    width: 280px;
  }

  .cols2 .content .row .col_1 {
    width: 280px;
  }

  .cols2 .content .row .col_1_2 {
    width: 280px;
  }

  .cols2 .content .row .col_1_3 {
    width: 280px;
  }

  .cols2 .content .row .col_2_3 {
    width: 280px;
  }

  .cols2 .content .row .col_1_4 {
    width: 125px;
  }

  .cols2 .content .row .col_3_4 {
    width: 280px;
  }

  .row .alpha, .col.alpha {
    margin-left: 0;
  }

  .row .omega, .col.omega {
    margin-right: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1em;
  }

  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 11px;
  }

  h5 {
    font-size: 10px;
  }

  h6 {
    font-size: 9px;
  }

  #middle {
    clear: both;
    z-index: 1;
    padding: 40px 0 50px 0 !important;
  }

  /* sidebar right (default) */
  #middle .content {
    width: 280px;
    margin: 0 10px;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px dashed #cecece;
    margin-bottom: 20px;
  }

  #middle .sidebar {
    width: 280px;
    margin: 0 10px;
  }

  /* sidebar left */
  #middle.sidebar_left .content {
    width: 280px;
    margin: 0 10px;
    margin-bottom: 20px;
  }

  #middle.sidebar_left .sidebar {
    width: 280px;
    margin: 0 10px;
  }

  /* full width content, whithout sidebar */
  #middle.full_width .content,
  #middle.full_width .post-detail {
    width: 280px;
    float: none;
    border-bottom: none;
  }

  #middle.full_width .content {
    margin: 0 10px;
  }

  #middle.full_width .sidebar {
    width: 0;
    height: 0;
    text-indent: -999999px;
    overflow: hidden;
    visibility: hidden;
  }

  #topmenu .select_styled {
    margin-left: 40px;
    margin-bottom: 15px;
  }

  .header-nav {
    width: 300px;
    margin: 51px auto 15px auto;
    height: auto;
  }

  .header-box {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .title h1 {
    font-size: 14px;
  }

  .logo {
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .header-search .s, .header-search .s.white {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .work-carousel-head a {
    top: -70px !important;
  }

  .tf-header-slider .flexslider .slides,
  .tf-header-slider .flexslider .slides li img {
    height: 201px;
  }

  .sidebar .widget_contact {
    width: 178px;
    margin: 0px auto;
  }

  

  .our-work {
    background: #333;
    min-height: 310px;
    padding-bottom: 15px;
  }

  .our-work .content {
    width: 300px;
    margin: 10px 10px 0 10px !important;
  }

  .our-work .content .inner p {
    font-size: 11px;
    margin-right: 10px;
  }

  .our-work {
    width: 300px;
  }

  .widget-post h2 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .widget-post a.btn {
    margin-left: 105px;
  }

  .widget-more .post-more a.btn {
    margin-left: 95px;
  }

  .divider-space {
    width: 280px;
  }

  .post-item .post-image img, .services-img img, .work-img img {
    width: 280px;
  }

  .widget-more {
    margin: 0 10px;
  }

  .widget-more .post-more {
    width: 280px;
    float: left;
    margin-right: 10px;
  }

  .widget-more .post-more h2 {
    margin-bottom: 25px;
    font-size: 18px;
    text-align: center;
  }

  .widget-more .post-more h4 {
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    font-size: 13px;
  }

  .work-item .mini-work-title h4 {
    font-size: 14px;
    margin: 7px 0;
  }

  .work-item .mini-work-title p {
    font-size: 12px;
    margin: 7px 0;
  }

  .footer-slider {
    width: 300px;
  }

  .tf-footer-carousel .flex-viewport {
    width: 130px;
  }

  .footer-content {
    width: 280px;
    margin: 0 10px;
  }

  .f_col_1 {
    width: 280px;
  }

  .footer_social ul {
    margin: 0 auto !important;
    width: 64px;
  }

  .f_col_2, .f_col_3, .f_col_4, .f_col_5 {
    width: 280px;
  }

  .f_col {
    float: left;
    margin: 0 10px;
    min-height: 20px;
  }

  footer h3.widget-title {
    font: 14px 'Open Sans';
    font-weight: 700;
    text-align: center;
  }

  footer .widget-container.widget_nav_menu li a,
  footer .widget_categories li a,
  footer .widget_archive li a,
  footer .widget_links li a,
  footer .widget_meta li a,
  footer .widget_pages li a {
    font-size: 13px;
    font-weight: 600;
  }

  footer .widget-container.widget_nav_menu li:first-child,
  footer .widget_categories li:first-child,
  footer .widget_archive li:first-child,
  footer .widget_links li:first-child,
  footer .widget_meta li:first-child,
  footer .widget_pages li:first-child {
    padding-top: 0;
  }

  footer .widget-twitter .tweet_item p,
  footer .widget-twitter .tweet_item a {
    font-weight: 600;
    font-size: 11px;
  }

  .content .widget_categories ul {
    width: 210px;
  }

  .post-item .post_title h2,
  .post-item .post_title h2 a {
    font: 14px 'Open Sans';
    font-weight: 600;
  }

  .post-item.post-item-wide .post_title h2 a {
    font-size: 12px !important;
    line-height: 1px !important;
  }

  .post-item .post-descr p {
    font: 11px 'Open Sans';
  }

  .middle-menu {
    width: 300px;
    margin: 0 auto;
    background: #333333 url(images/sidebar-menu-bg.png);
    height: 102px;
    position: relative;
    z-index: 1;
  }

  .middle-menu li {
    width: 43px !important;
    height: 102px !important;
    position: relative !important;
    margin-left: 7px;
  }

  .middle-menu li h4 {
    width: 40px;
    font-size: 10px;
  }

  .middle-menu li:hover .tf-top-menu,
  .middle-menu .active-menu .tf-top-menu {
    width: 0;
    background-position: center center;
  }

  .middle-menu li:hover .tf-bottom-menu,
  .middle-menu .active-menu .tf-bottom-menu {
    width: 0;
  }

  .sidebar .widget-content.widget_search {
    width: 280px;
  }

  .comment-form .input-row.field_text {
    margin-right: 15px;
  }

  .comment-form .inputtext, .comment-form .textarea {
    width: 96%  !important;
  }

  .tabs_framed .tabs li a {
    padding: 0 17px;
    font-size: 10px;
  }

  /* Slideshow Gallery and Text */
  .slideshow .slides_container,
  .slideshow .slides_container .slide,
  .slideshow.slideText .slides_container {
    width: 280px;
  }

  .slideshow .slides_container .slides_control,
  .slideGallery .slides_container .slide {
    height: 155px;
  }

  .slideshow.slideText .slides_container .slide {
    width: 280px;
  }

  .slideshow .pagination {
    top: -30px;
  }

  .slideshow .next, .slideshow .prev {
    top: 29%;
  }

  .slideshow.slideQuotes .slides_container .slide {
    width: 240px;
  }

  .sidebar .slideshow.slideQuotes .slides_container,
  .sidebar .slideshow.slideQuotes .slides_container .slide {
    padding: 10px 0;
    width: 210px;
    min-height: 280px;
  }

  .team-box {
    clear: both;
    border: none;
  }

  .sidebar .team-box {
    width: 201px;
    margin: 0 auto;
  }

  .team-description {
    width: 125px;
  }

  .team-image {
    display: block;
  }

  .team-image img {
    width: 125px;
    height: 125px;
    display: block;
  }

  .team-text {
    display: block;
    background: #F25D3C;
    width: 125px;
    color: #4c4c4c;
    padding-top: 10px !important;
  }

  .team-text p {
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 10px;
    color: #FDC0BD;
    line-height: 13px;
  }

  .team-text h4,
  .entry .team-text h4 {
    color: #fff;
    font: 13px 'Open Sans';
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
  }

  .team-text h5,
  .entry .team-text h5 {
    font: 12px 'Open Sans';
    color: #FDC0BD;
    margin-left: 15px;
    margin-top: 0 !important;
  }

  .team-text .team-contact {
    color: #fff;
    margin-left: 15px;
    font-style: italic;
  }

  .team-box-hover {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0;
  }

  .sidebar .team-box-hover {
    width: 125px;
    height: 125px;
    margin: 0 auto;
  }

  .team-box-hover img {
    width: 125px;
    height: 125px;
  }

  .team-box-hover .team-description:hover .team-image {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .team-box-hover .team-text {
    width: 125px;
    height: 125px;
  }

  .text-box-1 p {
    display: block;
    font: 41px 'Open Sans';
    font-weight: 700;
  }

  .text-box-1 span {
    font: 13px 'Open Sans';
    font-weight: 600;
    display: block;
  }

  .margin-left-80 {
    margin-left: 85px !important;
  }

  .widget_login .forgetmenot label, .widget_login .forget_password {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .widget_login .forget_password {
    clear: both;
    display: block;
    float: left;
  }

  .sidebar .newsletterBox .inputField {
    width: 71% !important;
  }

  .newsletterBox .inputField {
    width: 172px;
  }

  .work-carousel-head a {
    top: -35px !important;
  }

  .work-carousel-head a {
    width: 23px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    top: 20px;
    right: 46% !important;
  }

  .children li {
    background: url(images/comments_sub.png) 30px 5px no-repeat;
    padding-left: 47px;
  }

  .tf-post-slider .slides img {
    height: 323px;
  }

  .tf-post-slider .flex-direction-nav a {
    top: 140px !important;
  }

  /* Styled Tables and Boxes */
  .styled_table table tr th,
  .sb .box_title {
    font-size: 10px;
  }

  .styled_table table tr th,
  .styled_table table tr td,
  .sb .box_title {
    padding: 5px 5px;
  }

  .styled_table table tbody td,
  .sb .box_content {
    padding: 5px 5px;
    font-size: 12px;
  }

  .button_styled_large {
    padding: 7px 12px;
    font: 11px 'Open Sans';
  }

  .button_link_medium, .button_styled_medium {
    padding: 7px 9px;
    font: 11px 'Open Sans';
  }
  .copyright-left {
    float:none;
    display:block;
    text-align:center;
    font-size:12px;
 }
 .copyright-right {
    float:none;
    display:block;
    text-align:center;
    font-size:12px;
 }
 .content .widget-twitter .toggle.box, .content .widget-twitter h3.toggle.box {
 font-size:11px !important }
/* Typographic Elements */
	.frame_left {
		margin:3px 10px 3px 0}		
	.frame_right {
		margin:3px 0 3px 10px}		
	.quote_right, .quote_left, .quote_center, blockquote {
		width:96%;
		margin:15px auto;
		font-size:15px;}
	.content blockquote {
		width:93%;
		padding:10px 3%;}
    /**
      * Profile Page styles
      *
      */
    .profile-nav-tab {
        float:right; width:300px; height:;
    }
    .profile-username {
        float: none; padding:10px; margin:0; color:#ffffff; text-align: center;
    }
    .profile-menu {
        float: none;
        width: 300px;
        margin: 0 auto 0 auto;
    }
    .profile-pic {
        width:135px; text-align:center; margin: 0 auto -95px auto;
    }
    .profile-img {
        width: 120px;
        height: 120px;
    }
    .profile-content-pane {
        min-height: 450px;
        background:#fff; padding:5px 0px 5px 0px;
        height: auto;
    }
    .navi-tab {
        margin:120px 5px 15px 5px;
        display:none;
    }
    .navi-tab-header {
        padding:5px;
        border-bottom:1px solid #f2f2f2;
    }
    .navi-tab-body {
        padding:10px;
    }
    .nav > li {
        text-align: center;
    }
    .nav > li > a {
        padding: 5px;
    }
    .data-cont {
        width: 260px !important;

    }
    .details-cont {
        width: 260px;
    }
    .image-cont {
        width: 260px;
    }
    .image-cont > a > img {
        width: 250px;
        height: 220px;
    }
}        
/*HERE IS 480 PX */
@media only screen and (min-width: 480px) {
  .container {
    width: 432px;
  }

  body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #666;
    font-size: 13px;
    line-height: 1.4em;
  }

  .col {
    margin: 5px 5px 5px 0;
  }

  .col_1 {
    width: 412px;
  }

  .col_1_2 {
    width: 412px;
  }

  .col_1_3 {
    width: 412px;
  }

  .col_2_3 {
    width: 412px;
  }

  .col_1_4 {
    width: 185px;
  }

  .col_1_5 {
    width: 412px;
  }

  .col_1_6 {
    width: 64px;
  }

  .col_3_4 {
    width: 412px;
  }

  .cols2 .col_1 {
    width: 412px;
  }

  .cols2 .col_1_2 {
    width: 412px;
  }

  .cols2 .col_1_3 {
    width: 412px;
  }

  .cols2 .col_2_3 {
    width: 412px;
  }

  .cols2 .col_1_4 {
    width: 201px;
  }

  .cols2 .col_3_4 {
    width: 412px;
  }

  .cols2 .content .row .col_1 {
    width: 412px;
  }

  .cols2 .content .row .col_1_2 {
    width: 412px;
  }

  .cols2 .content .row .col_1_3 {
    width: 412px;
  }

  .cols2 .content .row .col_2_3 {
    width: 412px;
  }

  .cols2 .content .row .col_1_4 {
    width: 201px;
  }

  .cols2 .content .row .col_3_4 {
    width: 412px;
  }

  .row .alpha, .col.alpha {
    margin-left: 0;
  }

  .row .omega, .col.omega {
    margin-right: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1em;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 13px;
  }

  h4 {
    font-size: 12px;
  }

  h5 {
    font-size: 11px;
  }

  h6 {
    font-size: 10px;
  }

  #middle {
    clear: both;
    z-index: 1;
    padding: 40px 0 50px 0 !important;
  }

  /* sidebar right (default) */
  #middle .content {
    width: 412px;
    margin: 0 10px;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px dashed #cecece;
    margin-bottom: 20px;
  }

  #middle .sidebar {
    width: 412px;
    margin: 0 10px;
  }

  /* sidebar left */
  #middle.sidebar_left .content {
    width: 412px;
    margin: 0 10px;
    margin-bottom: 20px;
  }

  #middle.sidebar_left .sidebar {
    width: 412px;
    margin: 0 10px;
  }

  /* full width content, whithout sidebar */
  #middle.full_width .content,
  #middle.full_width .post-detail {
    width: 412px;
    float: none;
    border-bottom: none;
  }

  #middle.full_width .content {
    margin: 0 10px;
  }

  #middle.full_width .sidebar {
    width: 0;
    height: 0;
    text-indent: -999999px;
    overflow: hidden;
    visibility: hidden;
  }

  #topmenu .select_styled {
    margin-left: 15px;
  }

  .header-nav {
    width: 432px;
    margin: 51px auto 15px auto;
    height: 96px;
  }

  .title h1 {
    font-size: 18px;
  }

  .header-search .s, .header-search .s.white {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .work-carousel-head a {
    top: -70px !important;
  }

  .tf-header-slider .flexslider .slides,
  .tf-header-slider .flexslider .slides li img {
    height: 201px;
  }

  .sidebar .widget_contact {
    width: 178px;
    margin: 0px auto;
  }

  .logo {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  

  .our-work {
    background: #333;
    min-height: 280px;
    padding-bottom: 0;
  }

  .our-work .content {
    width: 432px;
    margin: 10px 10px 0 10px !important;
  }

  .our-work .content .inner p {
    font-size: 11px;
  }

  .our-work {
    width: 432px;
  }

  .widget-post h2 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .widget-post a.btn, .widget-more .post-more a.btn {
    margin-left: 155px;
  }

  .divider-space {
    width: 412px;
  }

  .post-item .post-image img, .services-img img, .work-img img {
    width: 412px;
  }

  .widget-more {
    margin: 0 10px;
  }

  .widget-more .post-more {
    width: 412px;
    float: left;
    margin-right: 10px;
  }

  .widget-more .post-more h2 {
    margin-bottom: 25px;
    font-size: 19px;
    text-align: center;
  }

  .widget-more .post-more h4 {
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    font-size: 13px;
  }

  .work-item .mini-work-title h4 {
    font-size: 14px;
    margin: 7px 0;
  }

  .work-item .mini-work-title p {
    font-size: 12px;
    margin: 7px 0;
  }

  .footer-slider {
    width: 432px;
  }

  .tf-footer-carousel .flex-viewport {
    width: 392px;
  }

  .footer-content {
    width: 412px;
    margin: 0 10px;
  }

  .f_col_1 {
    width: 64px;
  }

  .footer_social ul {
    margin: 0 auto !important;
    width: 64px;
    float: left;
  }

  .f_col_2, .f_col_3, .f_col_4, .f_col_5 {
    width: 144px;
  }

  .f_col {
    float: left;
    margin: 0 10px;
    min-height: 20px;
  }

  footer h3.widget-title {
    font: 14px 'Open Sans';
    font-weight: 700;
    text-align:left;
  }

  footer .widget-container.widget_nav_menu li a,
  footer .widget_categories li a,
  footer .widget_archive li a,
  footer .widget_links li a,
  footer .widget_meta li a,
  footer .widget_pages li a {
    font-size: 11px;
    font-weight: 600;
  }

  footer .widget-container.widget_nav_menu li:first-child,
  footer .widget_categories li:first-child,
  footer .widget_archive li:first-child,
  footer .widget_links li:first-child,
  footer .widget_meta li:first-child,
  footer .widget_pages li:first-child {
    padding-top: 0;
  }

  footer .widget-twitter .tweet_item p,
  footer .widget-twitter .tweet_item a {
    font-weight: 600;
    font-size: 11px;
  }

  .content .widget_categories ul {
    width: 210px;
  }

  .post-item .post_title h2,
  .post-item .post_title h2 a {
    font: 19px 'Open Sans';
    font-weight: 600;
  }

  .post-item.post-item-wide .post_title h2 a {
    font-size: 14px !important;
    line-height: 1px !important;
  }

  .post-item .post-descr p {
    font: 12px 'Open Sans';
  }

  .middle-menu {
    width: 432px;
    margin: 0 auto;
    background: #333333 url(images/sidebar-menu-bg.png);
    height: 102px;
    position: relative;
    z-index: 1;
  }

  .middle-menu li {
    width: 60px !important;
    height: 102px !important;
    position: relative !important;
    margin-left: 10px;
  }

  .middle-menu li h4 {
    width: 60px;
    font-size: 11px;
  }

  .middle-menu li:hover .tf-top-menu,
  .middle-menu .active-menu .tf-top-menu {
    width: 0;
    background-position: center center;
  }

  .middle-menu li:hover .tf-bottom-menu,
  .middle-menu .active-menu .tf-bottom-menu {
    width: 0;
  }

  .sidebar .widget-content.widget_search {
    width: 412px;
  }

  .comment-form .input-row.field_text {
    margin-right: 25px;
  }

  .comment-form .inputtext, .comment-form .textarea {
    width: 97%  !important;
  }

  .tabs_framed .tabs li a {
    padding: 0 28px;
    font-size: 10px;
  }

  /* Slideshow Gallery and Text */
  .slideshow .slides_container,
  .slideshow .slides_container .slide,
  .slideshow.slideText .slides_container {
    width: 412px;
  }

  .slideshow .slides_container .slides_control,
  .slideGallery .slides_container .slide {
    height: 231px;
  }

  .slideshow.slideText .slides_container .slide {
    width: 410px;
  }

  .slideshow .pagination {
    top: -30px;
  }

  .slideshow .next, .slideshow .prev {
    top: 41%;
  }

  .slideshow.slideQuotes .slides_container .slide {
    width: 375px;
  }

  .sidebar .slideshow.slideQuotes .slides_container,
  .sidebar .slideshow.slideQuotes .slides_container .slide {
    padding: 10px 0;
    width: 210px;
    min-height: 280px;
  }

  .team-box {
    clear: both;
    border: none;
  }

  .sidebar .team-box {
    width: 201px;
    margin: 0 auto;
  }

  .team-description {
    width: 159px;
  }

  .team-image {
    display: block;
  }

  .team-image img {
    width: 159px;
    height: 159px;
    display: block;
  }

  .team-text {
    display: block;
    background: #F25D3C;
    width: 159px;
    color: #4c4c4c;
    padding-top: 10px !important;
  }

  .team-text p {
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 10px;
    color: #FDC0BD;
    line-height: 13px;
  }

  .team-text h4,
  .entry .team-text h4 {
    color: #fff;
    font: 13px 'Open Sans';
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
  }

  .team-text h5,
  .entry .team-text h5 {
    font: 12px 'Open Sans';
    color: #FDC0BD;
    margin-left: 15px;
    margin-top: 0 !important;
  }

  .team-text .team-contact {
    color: #fff;
    margin-left: 15px;
    font-style: italic;
  }

  .team-box-hover {
    width: 159px;
    height: 159px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .sidebar .team-box-hover {
    width: 159px;
    height: 159px;
    margin: 0 auto;
  }

  .team-box-hover img {
    width: 159px;
    height: 159px;
  }

  .team-box-hover .team-description:hover .team-image {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .team-box-hover .team-text {
    width: 159px;
    height: 159px;
  }

  .text-box-1 p {
    display: block;
    font: 31px 'Open Sans';
    font-weight: 700;
  }

  .text-box-1 span {
    font: 11px 'Open Sans';
    font-weight: 600;
    display: block;
  }

  .margin-left-80 {
    margin-left: 145px !important;
  }

  .widget_login .forgetmenot label, .widget_login .forget_password {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .widget_login .forget_password {
    clear: both;
    display: block;
    float: left;
  }

  .sidebar .newsletterBox .inputField {
    width: 71% !important;
  }

  .newsletterBox .inputField {
    width: 96px;
  }

  .work-carousel-head a {
    top: -35px !important;
  }

  .work-carousel-head a {
    width: 23px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    top: 20px;
    right: 46% !important;
  }

  .children li {
    background: url(images/comments_sub.png) 30px 5px no-repeat;
    padding-left: 47px;
  }

  .tf-post-slider .slides img {
    height: 323px;
  }

  .tf-post-slider .flex-direction-nav a {
    top: 140px !important;
  }

  /* Styled Tables and Boxes */
  .styled_table table tr th,
  .sb .box_title {
    font-size: 12px;
  }

  .styled_table table tr th,
  .styled_table table tr td,
  .sb .box_title {
    padding: 10px 15px;
  }

  .styled_table table tbody td,
  .sb .box_content {
    padding: 10px 15px;
    font-size: 12px;
  }

  .button_link_large, .button_styled_large {
    padding: 9px 20px;
    font: 15px 'Open Sans';
    font-weight: 600;
  }

  .button_link_medium, .button_styled_medium {
    padding: 9px 15px;
    font: 13px 'Open Sans';
    font-weight: 600;
  }
  .copyright-left {
    float:none;
    display:block;
    text-align:center;
    font-size:13px;
 }
 .copyright-right {
    float:none;
    display:block;
    text-align:center;
    font-size:13px;
 }
  .content .widget-twitter .toggle.box, .content .widget-twitter h3.toggle.box {
 font-size:15px !important }
 /* Typographic Elements */
	.quote_right, .quote_left, .quote_center, blockquote {
		width:96%;
		margin:15px auto;
		font-size:15px;}

    /**
      * Profile Page styles
      *
      */
    .profile-nav-tab {
        float:right; width:440px; height:;
    }
    .profile-username {
        float: none; padding:10px; margin:0; color:#ffffff; text-align: center;
    }
    .profile-menu {
        float: none;
        width: 400px;
        margin: 0 auto 0 auto;
    }
    .profile-pic {
        width:135px; text-align:center; margin: 0 auto -95px auto;
    }
    .profile-img {
        width: 120px;
        height: 120px;
    }
    .profile-content-pane {
        min-height: 450px;
        background:#fff; padding:5px 0px 5px 0px;
        height: auto;
    }
    .navi-tab {
        margin:120px 5px 15px 5px;
        display:none;
    }
    .navi-tab-header {
        padding:5px;
        border-bottom:1px solid #f2f2f2;
    }
    .navi-tab-body {
        padding:10px;
    }
    .nav > li > a {
        padding: 2px;
    }
    .data-cont {
        width: 360px !important;

    }
    .details-cont {
        width: 360px;
    }
    .image-cont {
        width: 360px;
    }
    .image-cont > a > img {
        width: auto;
        height: 245px;
    }

}
/*HERE IS 768 PX */
@media only screen and (min-width: 768px) {
  .container {
    width: 738px;
  }

  body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 1.4em;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1em;
  }

  h1 {
    font-size: 21px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 12px;
  }

  /*Cols*/
  .col {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* Columns, Full width page, Content: 900px
  -------------------------------------------------- */
  .col_1 {
    width: 698px;
  }

  .col_1_2 {
    width: 339px;
  }

  .col_1_3 {
    width: 219px;
  }

  .col_2_3 {
    width: 459px;
  }

  .col_1_4 {
    width: 159px;
  }

  .col_1_5 {
    width: 135px;
  }

  .col_1_6 {
    width: 99px;
  }

  .col_3_4 {
    width: 519px;
  }

  .cols2 .col_1 {
    width: 428px;
  }

  .cols2 .col_1_2 {
    width: 204px;
  }

  .cols2 .col_1_3 {
    width: 129px;
  }

  .cols2 .col_2_3 {
    width: 279px;
  }

  .cols2 .col_1_4 {
    width: 92px;
  }

  .cols2 .col_3_4 {
    width: 309px;
  }

  /* Columns, Page with Sidebar, Content: 590px 
  --------------------------------------------------*/
  /* Columns inside ROW */
  .cols2 .content .row .col_1 {
    width: 428px;
  }

  .cols2 .content .row .col_1_2 {
    width: 204px;
  }

  .cols2 .content .row .col_1_3 {
    width: 129px;
  }

  .cols2 .content .row .col_2_3 {
    width: 279px;
  }

  .cols2 .content .row .col_1_4 {
    width: 92px;
  }

  .cols2 .content .row .col_3_4 {
    width: 309px;
  }

  .row .alpha, .col.alpha {
    margin-left: 0;
  }

  .row .omega, .col.omega {
    margin-right: 0;
  }

  /*-----------------------------------*/
  /* Middle content */
  /*-----------------------------------*/
  #middle {
    clear: both;
    z-index: 1;
    padding: 40px 0 50px 0 !important;
  }

  /* sidebar right (default) */
  #middle .content {
    width: 428px;
    float: left;
    margin: 0 20px;
    position: relative;
    border: none;
  }

  #middle .sidebar {
    width: 248px;
    float: left;
    margin: 0 20px 0 0;
  }

  /* sidebar left */
  #middle.sidebar_left .content {
    width: 428px;
    float: right;
    margin: 0 20px 0 0;
  }

  #middle.sidebar_left .sidebar {
    width: 248px;
    float: left;
    margin: 0 20px;
  }

  /* full width content, whithout sidebar */
  #middle.full_width .content,
  #middle.full_width .post-detail {
    width: 698px;
    float: none;
  }

  #middle.full_width .content {
    margin: 0 20px;
  }

  #middle.full_width .sidebar {
    width: 0;
    height: 0;
    text-indent: -999999px;
    overflow: hidden;
    visibility: hidden;
  }

  .title h1 {
    font-size: 19px;
  }

  .header-nav {
    width: 738px;
    margin: 51px auto 15px auto;
  }

  .header-box {
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .header-search .s, .header-search .s.white {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  #topmenu .dropdown {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 15px;
  }

  #topmenu .dropdown li {
    display: block;
    float: left;
    margin: 0;
    position: relative;
    list-style: none;
    margin-left:20px;
  }

  #topmenu .dropdown li a span {
    font: 13px 'Open Sans' !important;
  }

  #topmenu .dropdown li ul li a {
    font: 12px 'Open Sans';
    width: 120px;
  }

  #topmenu .dropdown li ul li a:hover {
    width: 120px;
  }

  #topmenu .dropdown li:hover > ul {
    width: 120px;
  }

  #topmenu .dropdown li:hover > ul li:hover > ul {
    width: 120px;
    left: 120px!important;
  }

  #topmenu .dropdown li:hover > ul li:hover > ul li:hover > ul {
    left: 120px !important;
  }

  #topmenu .dropdown li ul li {
    width: 120px;
    margin: 0;
    padding: 0;
  }

  #topmenu .dropdown li ul li ul li {
    width: 120px;
  }

  .tf-header-slider .flexslider .slides,
  .tf-header-slider .flexslider .slides li img {
    height: 308px;
  }

  

  .our-work {
    background: transparent url(images/gradient_cont.png);
    min-height: 100px;
  }

  .our-work .content {
    width: 738px;
    margin: 10px 20px 0 20px !important;
  }

  .our-work .content .inner p {
    font-size: 11px;
  }

  .post-item .post-image img, .services-img img, .work-img img {
    width: auto;
  }

  .our-work {
    width: 738px;
    height: 140px;
  }

  .widget-post h2 {
    margin-bottom: 35px;
    font-size: 19px;
    line-height: 26px;
    text-align: left;
  }

  .widget-post a.btn {
    margin-left: 0px;
  }

  .widget-more .post-more a.btn {
    margin-left: 70px;
  }

  .divider-space {
    width: 698px;
  }

  .widget-more {
    margin: 0 20px;
  }

  .widget-more .post-more {
    width: 248px;
    float: left;
    margin-right: 20px;
  }

  .widget-more .post-more h2 {
    margin-bottom: 25px;
    font-size: 19px;
  }

  .widget-more .post-more h4 {
    font-weight: 600;
    margin-bottom: 30px;
  }

  .work-item .mini-work-title h4 {
    font-size: 14px;
    margin: 7px 0;
  }

  .work-item .mini-work-title p {
    font-size: 12px;
    margin: 7px 0;
  }

  .footer-slider {
    width: 738px;
  }

  .tf-footer-carousel .flex-viewport {
    width: 698px;
  }

  .footer-content {
    width: 698px;
    margin: 0 20px;
  }

  footer .f_col_1 {
    width: 64px;
  }

  .f_col_2, .f_col_3, .f_col_4, .f_col_5 {
    width: 133px;
  }

  .f_col {
    float: left;
    margin: 0 10px 0 10px;
    min-height: 20px;
  }

  footer h3.widget-title {
    font: 15px 'Open Sans';
    font-weight: 700;
    text-align:left;
  }

  footer .widget-container.widget_nav_menu li a,
  footer .widget_categories li a,
  footer .widget_archive li a,
  footer .widget_links li a,
  footer .widget_meta li a,
  footer .widget_pages li a {
    font-size: 11px;
    font-weight: 600;
  }

  footer .widget-container.widget_nav_menu li:first-child,
  footer .widget_categories li:first-child,
  footer .widget_archive li:first-child,
  footer .widget_links li:first-child,
  footer .widget_meta li:first-child,
  footer .widget_pages li:first-child {
    padding-top: 0;
  }

  footer .widget-twitter .tweet_item p,
  footer .widget-twitter .tweet_item a {
    font-weight: 600;
    font-size: 12px;
  }

  .content .widget_categories ul {
    width: 200px;
  }

  .post-item .post_title h2,
  .post-item .post_title h2 a {
    font: 19px 'Open Sans';
    font-weight: 600;
  }

  .post-item.post-item-wide .post_title h2 a {
    font-size: 14px !important;
    line-height: 1px !important;
  }

  .post-item .post-descr p {
    font: 12px 'Open Sans';
  }

  .middle-menu {
    width: 738px;
    margin: 0 auto;
    background: #333333 url(images/sidebar-menu-bg.png) repeat-x;
    height: 102px;
    position: relative;
    z-index: 1;
  }

  .middle-menu li {
    width: 105px !important;
    height: 102px !important;
    position: relative !important;
    margin-left: 15px;
  }

  .middle-menu li h4 {
    width: 105px;
    font-size: 14px;
  }

  .middle-menu li:hover .tf-top-menu,
  .middle-menu .active-menu .tf-top-menu {
    width: 105px;
    background-position: center center;
  }

  .middle-menu li:hover .tf-bottom-menu,
  .middle-menu .active-menu .tf-bottom-menu {
    width: 105px;
  }

  .sidebar .widget-content.widget_search {
    width: 248px;
  }

  .comment-form .input-row.field_text {
    margin-right: 30px;
  }

  .comment-form .textarea {
    width: 99% !important;
  }

  .tabs_framed .tabs li a {
    padding: 0 28px;
    font-size: 10px;
  }

  /* Slideshow Gallery and Text */
  .slideshow .slides_container,
  .slideshow .slides_container .slide,
  .slideshow.slideText .slides_container {
    width: 428px;
  }

  .slideshow .slides_container .slides_control,
  .slideGallery .slides_container .slide {
    height: 241px;
  }

  .slideshow.slideText .slides_container .slide {
    width: 410px;
  }

  .slideshow .pagination {
    top: -30px;
  }

  .slideshow .next, .slideshow .prev {
    top: 41%;
  }

  .slideshow.slideQuotes .slides_container .slide {
    width: 375px;
  }

  .sidebar .slideshow.slideQuotes .slides_container,
  .sidebar .slideshow.slideQuotes .slides_container .slide {
    padding: 10px 0;
    width: 210px;
    min-height: 280px;
  }

  .team-box {
    clear: both;
    border: none;
  }

  .sidebar .team-box {
    width: 201px;
    margin: 0 auto;
  }

  .team-description {
    width: 159px;
  }

  .team-image {
    display: block;
  }

  .team-image img {
    width: 159px;
    height: 159px;
    display: block;
  }

  .team-text {
    display: block;
    background: #F25D3C;
    width: 159px;
    color: #4c4c4c;
    padding-top: 10px !important;
  }

  .team-text p {
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 10px;
    color: #FDC0BD;
    line-height: 13px;
  }

  .team-text h4,
  .entry .team-text h4 {
    color: #fff;
    font: 13px 'Open Sans';
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 0;
  }

  .team-text h5,
  .entry .team-text h5 {
    font: 12px 'Open Sans';
    color: #FDC0BD;
    margin-left: 15px;
    margin-top: 0 !important;
  }

  .team-text .team-contact {
    color: #fff;
    margin-left: 15px;
    font-style: italic;
  }

  .team-box-hover {
    width: 159px;
    height: 159px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .sidebar .team-box-hover {
    width: 159px;
    height: 159px;
    margin: 0 auto;
  }

  .team-box-hover img {
    width: 159px;
    height: 159px;
  }

  .team-box-hover .team-description:hover .team-image {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .team-box-hover .team-text {
    width: 159px;
    height: 159px;
  }

  .text-box-1 p {
    display: block;
    font: 46px 'Open Sans';
    font-weight: 700;
  }

  .text-box-1 span {
    font: 15px 'Open Sans';
    font-weight: 600;
    display: block;
  }

  .margin-left-80 {
    margin-left: 60px !important;
  }

  .widget_login .forgetmenot label, .widget_login .forget_password {
    font-size: 11px;
    margin-bottom: 5px;
  }

  .widget_login .forget_password {
    clear: both;
    display: block;
    float: left;
  }

  .sidebar .newsletterBox .inputField {
    width: 71% !important;
  }

  .newsletterBox .inputField {
    width: 96px;
  }

  .work-carousel-head a {
    top: -70px !important;
  }

  .work-carousel-head a {
    width: 23px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: -75px;
    right: 0px !important;
    z-index: 1;
    cursor: pointer;
    text-indent: -9999px;
  }

  .children li {
    background: url(images/comments_sub.png) 40px 5px no-repeat;
    padding-left: 57px;
  }

  .comment-form .inputtext, .comment-form .textarea {
    width: 98%  !important;
  }

  .tf-post-slider .slides img {
    height: 335px;
  }

  .tf-post-slider .flex-direction-nav a {
    top: 150px !important;
  }
  .copyright-left {
    float:left;
    display:block;
    text-align:left;
  }
  .copyright-right {
    float:right;
    display:block;
    text-align:right;
  }

  /**
   * Profile Page styles
   *
   */
    .profile-nav-tab {
        float:right; width:740px; height:50px;
    }
    .profile-username {
        float:left; padding:10px; margin:0px 0px 0px 0px; color:#ffffff;
    }
    .profile-menu {
        float: right;
        width: auto;
    }
    .profile-pic {
        width:135px; text-align:center; margin: 0px 0px -85px 10px;
    }
    .profile-img {
        width: 120px;
        height: 120px;
    }
    .profile-content-pane {
        min-height: 450px;
        background:#fff; padding:5px 0px 5px 0px;
        height: auto;
    }
    .navi-tab {
        margin:10px 0px 15px 150px;
        display:none;
    }
    .navi-tab-header {
        padding:5px;
        border-bottom:1px solid #f2f2f2;
    }
    .navi-tab-body {
        padding:10px;
    }
    .nav > li > a {
        padding: 10px 10px;
    }


}
/*HERE IS 990 PX*/
@media only screen and (min-width: 990px) {
  .container {
    width: 960px;
  }

  body {
    font-family: 'Open Sans';
    font-weight: 400;
    color: #666;
    font-size: 13px;
    line-height: 1.4em;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1em;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 13px;
  }

  /* Shortcode Columns (Max: 4 Cols, 15px left/right margin) */
  .col {
    display: inline;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
  }

  /* Columns, Full width page, Content: 900px
  -------------------------------------------------- */
  .col_1 {
    width: 900px;
  }

  .col_1_2 {
    width: 435px;
  }

  .col_1_3 {
    width: 280px;
  }

  .col_2_3 {
    width: 590px;
  }

  .col_1_4 {
    width: 202px;
    padding: 0;
  }

  .col_1_5 {
    width: 155px;
  }

  .col_1_6 {
    width: 125px;
  }

  .col_3_4 {
    width: 668px;
  }

  .cols2 .col_1 {
    width: 590px;
  }

  .cols2 .col_1_2 {
    width: 280px;
  }

  .cols2 .col_1_3 {
    width: 176px;
  }

  .cols2 .col_2_3 {
    width: 380px;
  }

  .cols2 .col_1_4 {
    width: 125px;
  }

  .cols2 .col_1_5 {
    width: 155px;
  }

  .cols2 .col_1_6 {
    width: 125px;
  }

  .cols2 .col_3_4 {
    width: 430px;
  }

  .cols2 .col_3_5 {
    width: 530px;
  }

  /* Columns, Page with Sidebar, Content: 590px 
  --------------------------------------------------*/
  /* Columns inside ROW */
  .cols2 .content .row .col_1 {
    width: 590px;
  }

  .cols2 .content .row .col_1_2 {
    width: 280px;
  }

  .cols2 .content .row .col_1_3 {
    width: 176px;
  }

  .cols2 .content .row .col_2_3 {
    width: 380px;
  }

  .cols2 .content .row .col_1_4 {
    width: 125px;
  }

  .cols2 .content .row .col_3_4 {
    width: 430px;
  }

  .row .alpha, .col.alpha {
    margin-left: 0;
  }

  .row .omega, .col.omega {
    margin-right: 0;
  }

  /*-----------------------------------*/
  /* Middle content */
  /*-----------------------------------*/
  #middle {
    clear: both;
    z-index: 1;
    padding: 20px 0 50px 0 !important;
  }

  /* sidebar right (default) */
  #middle .content {
    width: 590px;
    float: left;
    margin: 0 30px;
    position: relative;
    border: none;
  }

  #middle .sidebar {
    width: 280px;
    float: left;
    margin: 0 30px 0 0;
  }

  /* sidebar left */
  #middle.sidebar_left .content {
    width: 590px;
    float: right;
    margin: 0 30px 0 0;
  }

  #middle.sidebar_left .sidebar {
    width: 280px;
    float: left;
    margin: 0 30px;
  }

  /* full width content, whithout sidebar */
  #middle.full_width .content,
  #middle.full_width .post-detail {
    width: 900px;
    float: none;
  }

  #middle.full_width .content {
    margin: 0 30px;
  }

  #middle.full_width .sidebar {
    width: 0;
    height: 0;
    text-indent: -999999px;
    overflow: hidden;
    visibility: hidden;
  }

  .header-nav {
    width: 960px;
    margin: 2px auto 5px auto;
  }

  .header-box {
    float: right;
    width:180px;
    height: 41px;
    padding: 28px 5px;
    margin-top: 51px;
    visibility: visible;
  }

  #topmenu .dropdown {
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 16px;
  }
  #topmenu .dropdown li {
    margin-left:40px;}
   #topmenu .dropdown li a span {
    font: 13px 'Open Sans' !important;
  }

  #topmenu .dropdown li ul li a {
    width: 150px;
  }

  #topmenu .dropdown li ul li a:hover {
    width: 150px;
  }

  #topmenu .dropdown li:hover > ul li:hover > ul {
    left: 150px !important;
    width: 150px;
  }

  #topmenu .dropdown li ul li {
    width: 150px;
  }

  #topmenu .dropdown li ul li ul li {
    width: 150px;
  }

  .tf-header-slider .flexslider .slides,
  .tf-header-slider .flexslider .slides li img
   {
    height: 401px;
  }

  .our-work .content {
    width: 900px;
    margin: 10px 30px 0 30px !important;
  }

  .title h1 {
    font-size: 21px;
  }

  .header-search .s, .header-search .s.white {
    text-indent: -99999px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 25px;
    margin-right: 30px;
    width: 38px;
    height: 34px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #eaeaea;

    visibility: visible;
  }

  .header-search .s {
    background: #f9f9f9 url(images/search_b.png) no-repeat top right;
  }

  .header-search .s.white {
    background: #ea5331 url(images/search_white.png) no-repeat top right;
    border: none;
  }

  .our-work {
    width: 960px;
    height: 50px;
  }

  .our-work .content .inner p {
    font-size: 13px;
  }

  .widget-post h2 {
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
  }

  .post-item .post-image img, .services-img img, .work-img img {
    width: auto;
  }

  .widget-post a.btn, .widget-more .post-more a.btn {
    margin-left: 0;
  }

  .widget-more {
    margin: 0 30px;
  }

  .widget-more .post-more {
    width: 280px;
    float: left;
    margin-right: 30px;
  }

  .widget-more .post-more h2 {
    margin-bottom: 25px;
    font-size: 22px;
    text-align: left;
  }

  .widget-more .post-more h4 {
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
  }

  .work-item .mini-work-title h4 {
    font-size: 16px;
    margin: 7px 0;
  }

  .divider-space {
    width: 900px;
  }

  .footer-slider {
    width: 960px;
  }

  .tf-footer-carousel .flex-viewport {
    width: 900px;
  }

  .footer-content {
    width: 900px;
    margin: 0 30px;
  }

  .f_col {
    float: left;
    margin: 0 15px 0 15px;
    min-height: 20px;
  }

  .f_col_1 {
    width: 80px;
    height: auto;
  }

  .f_col_2, .f_col_3, .f_col_4, .f_col_5 {
    width: 170px;
  }

  footer h3.widget-title {
    font: 18px 'Open Sans';
    font-weight: 700;
    text-align:left;
  }

  footer .widget-container.widget_nav_menu li a,
  footer .widget_categories li a,
  footer .widget_archive li a,
  footer .widget_links li a,
  footer .widget_meta li a,
  footer .widget_pages li a {
    font-size: 13px;
    font-weight: 600;
  }

  footer .widget-twitter .tweet_item p,
  footer .widget-twitter .tweet_item a {
    font-weight: 600;
    font-size: 13px;
  }

  .post-item .post-meta-bot span,
  .cols2 .post-item .post-meta-bot span {
    font-weight: 400;
    font-size: 13px;
  }

  .post-item .post_title h2,
  .post-item .post_title h2 a {
    font: 24px 'Open Sans';
    font-weight: 600;
  }

  .post-item.post-item-wide .post_title h2 a {
    font-size: 16px !important;
  }

  .post-item .post-descr p {
    font: 13px 'Open Sans';
  }

  .middle-menu {
    width: 960px;
    margin: 0 auto;
    background: #333333 url(images/sidebar-menu-bg.png) repeat-x;
    height: 102px;
    position: relative;
    z-index: 1;
  }

  .content .widget_categories ul {
    width: 250px;
  }

  .middle-menu li {
    width: 125px !important;
    height: 102px !important;
    position: relative !important;
    margin-left: 30px;
  }

  .middle-menu li h4 {
    width: 125px;
  }

  .sidebar .widget_contact {
    width: auto;
    margin: 10px;
  }

  .middle-menu li:hover .tf-top-menu,
  .middle-menu .active-menu .tf-top-menu {
    width: 125px;
    background-position: center center;
  }

  .middle-menu li:hover .tf-bottom-menu,
  .middle-menu .active-menu .tf-bottom-menu {
    width: 125px;
  }

  .sidebar .widget-content.widget_search {
    width: 280px;
  }

  .comment-form .input-row.field_text {
    margin-right: 40px;
  }

  .comment-form .textarea {
    width: 99% !important;
  }

  .tabs_framed .tabs li a {
    padding: 0 40px;
    font-size: 11px;
  }

  /* Slideshow Gallery and Text */
  .slideshow .slides_container,
  .slideshow .slides_container .slide,
  .slideshow.slideText .slides_container {
    width: 590px;
  }

  .slideshow .slides_container .slides_control,
  .slideGallery .slides_container .slide {
    height: 326px;
  }

  .slideshow.slideText .slides_container .slide {
    width: 410px;
  }

  .slideshow .pagination {
    top: -30px;
  }

  .slideshow .next, .slideshow .prev {
    top: 41%;
  }

  .slideshow.slideQuotes .slides_container .slide {
    width: 500px;
  }

  .sidebar .slideshow.slideQuotes .slides_container,
  .sidebar .slideshow.slideQuotes .slides_container .slide {
    padding: 10px 0;
    width: 250px;
    min-height: 280px;
  }

  .team-box {
    clear: both;
    border: none;
  }

  .sidebar .team-box {
    width: 201px;
    margin: 0 auto;
  }

  .team-description {
    width: 201px;
  }

  .team-image {
    display: block;
  }

  .team-image img {
    width: 201px;
    height: 201px;
    display: block;
  }

  .team-text {
    display: block;
    background: #F25D3C;
    width: 201px;
    color: #4c4c4c;
    padding: 20px 0!important;
    padding-bottom: 30px;
  }

  .team-text p {
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 10px;
    color: #FDC0BD;
  }

  .team-text h4,
  .entry .team-text h4 {
    color: #fff;
    font: 14px 'Open Sans';
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 0;
  }

  .team-text h5,
  .entry .team-text h5 {
    font: 13px 'Open Sans';
    color: #FDC0BD;
    margin-left: 20px;
    margin-top: 0 !important;
  }

  .team-text .team-contact {
    color: #fff;
    margin-left: 20px;
    font-style: italic;
  }

  .team-box-hover {
    width: 201px;
    height: 201px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .sidebar .team-box-hover {
    width: 201px;
    height: 201px;
    margin: 0 auto;
  }

  .team-box-hover img {
    width: 201px;
    height: 201px;
  }

  .team-box-hover .team-description:hover .team-image {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .team-box-hover .team-text {
    width: 201px;
    height: 201px;
  }

  .text-box-1 p {
    display: block;
    font: 61px 'Open Sans';
    font-weight: 700;
  }

  .text-box-1 span {
    font: 16px 'Open Sans';
    font-weight: 700;
    display: block;
  }

  .margin-left-80 {
    margin-left: 80px !important;
  }

  .widget_login .forgetmenot label, .widget_login .forget_password {
    font-size: 12px;
    font-family: 'Open Sans';
    line-height: 1.3em;
    color: #777;
    margin-bottom: 25px;
  }

  .widget_login .forget_password {
    display: block;
    float: right;
    line-height: 1.8em;
    margin-right: 5px !important;
    clear: none;
    padding-top: 2px;
  }

  .sidebar .newsletterBox .inputField {
    width: 75% !important;
  }

  .newsletterBox .inputField {
    width: 172px;
  }

  .work-carousel {
    position: relative;
    clear: both;
  }

  .work-carousel li {
    display: block;
    float: left;
    width: 280px;
    height: 241px;
    margin-right: 15px;
    position: relative;
    background: #fff;
  }

  .work-carousel-head a {
    top: -75px !important;
  }

  .work-carousel-head a {
    width: 23px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: -75px;
    right: 0px !important;
    z-index: 1;
    cursor: pointer;
    text-indent: -9999px;
  }

  .children li {
    background: url(images/comments_sub.png) 50px 5px no-repeat;
    padding-left: 67px;
  }

  .comment-form .inputtext, .comment-form .textarea {
    width: 98%  !important;
  }

  .tf-post-slider .slides img {
    height: 462px;
  }

  .tf-post-slider .flex-direction-nav a {
    top: 210px !important;
  }
  .copyright-left {
    float:left;
    display:block;
    text-align:left;
 }
 .copyright-right {
    float:right;
    display:block;
    text-align:right;
 }
/* Typographic Elements */
	.frame_left {
		margin:5px 20px 3px 0}		
	.frame_right {
		margin:5px 0 3px 20px}		
	.quote_right, .quote_left, .quote_center, blockquote {
		width: auto;
		margin:0;
		font-size:14px;}
	.quote_right, .quote_left {
		font-size:17px;
		width:37%;}
	.content blockquote {
		padding:15px 20px;
		margin:10px 0 20px 0;
		width: auto;}
/**
 * Profile Page styles
 *
 */
.profile-nav-tab {
    float:right; width:810px; height:50px;
}
.profile-username {
    float:left; padding:10px; margin:0px 0px 0px 0px; color:#ffffff;
}
.profile-menu {
    float: right;
    width: auto;
}
.profile-pic {
    width:135px; text-align:center; margin: 0px 0px -85px 10px;
}
.profile-img {
    width: 120px;
    height: 120px;
}
.profile-content-pane {
    min-height: 450px;
    background:#fff; padding:5px 0px 5px 0px;
    height: auto;
}
.navi-tab {
    margin:10px 0px 15px 150px;
    display:none;
}
.navi-tab-header {
    padding:5px;
    border-bottom:1px solid #f2f2f2;
}
.navi-tab-body {
    padding:10px;
}
 .nav > li > a {
        padding: 10px 15px;
 }

@-moz-document url-prefix() {}
}

/* upload form */
#upload{
    background-color:#fff;
    margin:15px;
    padding:15px;
    border-radius:3px;
}

#drop{
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 5px dashed #2e3134 ;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0px;
}

#upload ul li{
    background-color:#94A09D;
    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height:52px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: ;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    top: 20px;
    left: 100px;
    position: absolute;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;

    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
}
.thumbnails {
    margin-left: -20px;
    list-style: none;
    *zoom: 1;
}
.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.span3 {
    width: 220px;
}

.row-fluid .span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.thumbnail .caption {
    padding: 9px;
    color: #555555;
}
.meleft {
    float:left;
    padding-top:5px;
    padding-left:20px;
}
.meright {
    float:right;
    padding-top:5px;
    padding-right:200px;
}
/* image.css */
.row-fluid {
    width: 100%;
    *zoom: 1;
}
.thumbnails {
    margin-left: -20px;
    list-style: none;
    *zoom: 1;
}
.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.span3 {
    width: 220px;
}

.row-fluid .span4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.thumbnail .caption {
    padding: 9px;
    color: #555555;
}
.meleft {
    float:left;
    padding-top:5px;
    padding-left:20px;
}
.meright {
    float:right;
    padding-top:5px;
    padding-right:200px;
}
/* login / register form */
.login-left {
    width: 310px; float: left;
    border-right: 1px solid #d2d2d2;
}
.login-left input, .form-signin input, .form-horizontal input {
    margin:2px auto 15px auto;
    width: 95%;
    height: 20px; padding: 4px 6px;
    border: 1px solid #5bc0de;
}
.form-signin {
    margin: 5px 15%;
}
.form-horizontal {
    width: 300px;
}
.form-signin input {
    width: 85%;
}
.form-signin select {
    width: 85%;
    padding: 5px;
    margin-bottom: 15px ;
}

form.form-horizontal {
    margin: 5px;
}
.login-right {
    float: left;
    margin-left: 5px;
    width: 200px;
}
.login-right a {
    display: block;
    width: 150px;
    height: 40px;
    margin: 10px auto;
}

/* profile favorites $ photos */
.data-cont {
    float: left;
    width: 360px;
    padding: 0 5px;
    margin:5px;
    border-bottom:1px solid #c3c3c3;
}
.image-cont {
    position: relative;
}
.menu-cont {
    padding-bottom: 2px;
    background: #c3c3c3;
    position: absolute;
    top: 5px; right: 10px;
}
.menu-cont a {
    padding:5px;
    background: #222222;
    color: #c3c3c3;
    text-transform: lowercase;
}
.image-cont img {
    width: 350px;
}
.details-cont {
    margin:5px 0 0 0;
}
.details-cont span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 75%;
}
.details-cont ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.details-cont ul li {
    list-style: none;
    height: 27px;
    padding: 0 0 0 4px;
    margin: 2px 0 0 0;
    float: left;
}
.details-cont ul li a {
    dislpay: block;
    width: 25px;
    height: 25px;
    margin: 0;
    float: left;
}
.details-cont ul li span {
    text-transform: uppercase;
    line-height: 30px;
    color: #444444;
    font-size: 80%;
}
.clearfix {
    clear:both;
}